<% @prototypes.each do |prototype| %>
<div class="card" >
  <div class="card__img">
  <%= link_to image_tag(prototype.image), prototype_path(prototype) %>
  </div>
  <div class="card__title">
    <%= link_to prototype.title, prototype_path(prototype) %>
  </div>
  <p class="summary"><%= prototype.catch_copy %></p>
  <p class="card__user">by<%= link_to prototype.user.name, user_path(prototype.user) %></p>
  </div>
<% end %>
